extends layout

block content
  //- h1= title
  //- p(class="testing") Welcome to #{title}! Search for a movie to rate:
  //- form
  //-    input(placeholder="enter a movie title here" id="searchField")
  //-    button Search
  each item in searchResults
    script.console.log(item)
    a(href="https://www.google.com")=item.movieTitle